
{% if go_carbon_conf is defined and go_carbon_conf.items()|length > 0 %}
{% for group_name, options in go_carbon_conf.items() %}
{% if group_name == "logging" %}
{% for logger in options %}
[[logging]]
{% for name, value in logger.items() %}
{% if value is number %}
{{ name }} = {{ value }}
{% else %}
{{ name }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
[{{ group_name }}]
{% for name, value in options.items() %}
{% if value is not string %}
{{ name }} = {{ value|lower}}
{% else %}
{{ name }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


